body {
    
    border: 5px solid black;
    min-height: 50vh;
    background-color: rgb(181, 247, 181);
}
/*
p {
    font-size: clamp(1em, 1em + 1vw, 1.5em);
    text-align: left;
}*/

.container-calorie {
    width:96%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
    border: solid transparent;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: rgb(107, 248, 107);
    display: inline-block;
}

.calorie{
    display: inline-flex;
}

.calorie p{
    
    font-size: smaller;
    padding: 1%;
    text-align: left;
    margin-top: 10px;
    margin-left: 2px;
}

.calorie img{
    display: inline-block;
    width: 15%;
    margin: 5%;
}
/*
.container-calorie .conteudo{
    margin: 2%;
}
/*
.calorie p{
    width: 70%;
    float: left;
    position: relative;
    text-align: center;
}*/



#contador{
    text-align: center;
    font-size: 50px;
    margin: 2%;
}
