<div class="text-center text-lg-start text-muted" style="background-color: rgba(10, 54, 34); margin-top: 1rem;">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <div class="me-5 d-none d-lg-block">
            <span style="color: #ffffff;">Nos acompanhe nas redes sociais:</span>
        </div>
        <div style="float: left; ">
            <a href="" class="me-4 link-grayish">
                <img src="/bootstrap-icons-1.9.0/facebook.svg" class="white-svg">
            </a>
            <a href="" class="me-4 link-grayish">
                <img src="/bootstrap-icons-1.9.0/twitter.svg" class="white-svg">
            </a>
            <a href="" class="me-4 link-grayish">
                <img src="/bootstrap-icons-1.9.0/google.svg" class="white-svg">
            </a>
            <a href="" class="me-4 link-grayish">
                <img src="/bootstrap-icons-1.9.0/instagram.svg" class="white-svg">
            </a>
        </div>
    </section>

    <section class="">
        <div class="container text-center text-md-start mt-5">
          <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <h6 class="text-uppercase fw-bold mb-4" style="color: #ffffff;">
                <img src="/bootstrap-icons-1.9.0/gem.svg" class="white-svg"> Feito por uma ótima equipe c;
              </h6>
              <p style="color: #ffffff;">
                Era pra ter informação aqui. Lorem ipsum
                dolor sit amet, consectetur adipisicing elit.
              </p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <h6 class="text-uppercase fw-bold mb-4" style="color: #ffffff;">
                Produtos de Troca
              </h6>
              <p>
                <a href="#!" class="text-reset" style="color: #ffffff;">Produto A</a>
              </p>
              <p>
                <a href="#!" class="text-reset" style="color: #ffffff;">Produto B</a>
              </p>
              <p>
                <a href="#!" class="text-reset" style="color: #ffffff;">Produto C</a>
              </p>
              <p>
                <a href="#!" class="text-reset" style="color: #ffffff;">Produto D</a>
              </p>
            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <h6 class="text-uppercase fw-bold mb-4" style="color: #ffffff;">
                Links
              </h6>
              <p>
                <a href="#!" class="text-reset" style="color: #ffffff;">A</a>
              </p>
              <p>
                <a href="#!" class="text-reset" style="color: #ffffff;">B</a>
              </p>
              <p>
                <a href="#!" class="text-reset" style="color: #ffffff;">C</a>
              </p>
              <p>
                <a href="#!" class="text-reset" style="color: #ffffff;">D</a>
              </p>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <h6 class="text-uppercase fw-bold mb-4" style="color: #ffffff;">Contato</h6>
              <p style="color: #ffffff;"><img src="/bootstrap-icons-1.9.0/house.svg" class="white-svg"> INATEL, Minas Gerais, BR</p>
              <p style="color: #ffffff;">
                <i class="fas fa-envelope me-3 text-grayish"></i>
                info@example.com
              </p>
              <p style="color: #ffffff;"><img src="/bootstrap-icons-1.9.0/phone.svg" class="white-svg"> + 55 (24) </p>
            </div>
          </div>
        </div>
      </section>

      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.2); color: #ffffff;">
        © 2022 Copyright:
        <a class="text-reset fw-bold" href="https://www.google.com/" style="color: #ffffff;">Grupo!</a>
      </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
</body>
</html>