<%- include('header', {title: title}); %>
<%- include('navbar', {perfil: "active", isOff: false}) %>

<!DOCTYPE html>
</br>
<center>
    <h1> Gráficos de desempenho </h1>
</center>
</br>


<%- include('footer'); %>