<%- include('header', {title: title}); %>
<%- include('navbar', {home: "active"}); %>
</br>
<div id="carouselExampleIndicators" class="carousel slide align-center" data-bs-ride="carrousel">
	<div class="carousel-indicators">
	<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
	<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
	<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
	</div>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<div class="parent d-flex justify-content-center">
				<img src="/public/imgs/corrida2.png" class="d-block w-100" alt="...">
			</div>
		</div>
		<div class="carousel-item"> 
			<div class="parent d-flex justify-content-center">
				<img src="/public/imgs/corrida2.png" class="d-block w-100" alt="...">
			</div>
		</div>
		<div class="carousel-item">
			<div class="parent d-flex justify-content-center">
				<img src="/public/imgs/c3.jpg" class="d-block w-100" alt="...">
			</div>
		</div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
	<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
	<span class="carousel-control-next-icon" aria-hidden="true"></span>
	<span class="visually-hidden">Next</span>
	</button>
</div>
<br>

<div class="row meet-us">
	</br></br>
	<div class="col-md-6 col-lg-3 col-sm-12 align-items-center"><img src="/public/imgs/yaya.jpg" class="rounded-circle profile" alt="...">
		</br></br><h2>Yasmim Ramos</h2></br></br>
		<p>Estudante de Engenharia Biomédica do Instituto Nacional de Telecomunicações</p>
	</div>
	<div class="col-md-6 col-lg-3 col-sm-12 align-items-center"><img src="/public/imgs/poc2.png" class="rounded-circle profile" alt="...">
		</br></br><h2>Felipe Rodrigues</h2></br></br>
		<p>Estudante de Engenharia de Controle e Automação do Instituto Nacional de Telecomunicações</p>
	</div>
	<div class="col-md-6 col-lg-3 col-sm-12 align-items-center"><img src="/public/imgs/poc3.png" class="rounded-circle profile" alt="...">
		</br></br><h2>João Carlos</h2></br></br>
		<p>Estudante de Engenharia Biomédica do Instituto Nacional de Telecomunicações</p>
	</div>
	<div class="col-md-6 col-lg-3 col-sm-12 align-items-center"><img src="/public/imgs/poc4.png" class="rounded-circle profile" alt="...">
		</br></br><h2>Mizael Domingos</h2></br></br>
		<p>Estudante de Engenharia Biomédica do Instituto Nacional de Telecomunicações</p>
	</div>
	</br></br>
</div>
<%- include('footer'); %>