<%- include('header', {title: title}); %>
<nav class="navbar navbar-expand-lg navbar-bg">
	<div class="container-fluid">
	<a class="navbar-brand" href="#">Calorie Counter</a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse flex-grow-1 text-right" id="navbarSupportedContent">
		<ul class="navbar-nav ms-auto flex-nowrap">
		<li class="nav-item">
			<a class="nav-link m-2 menu-item active" aria-current="page" href="#">Home</a>
		</li>
		<li class="nav-item">
			<a class="nav-link m-2 menu-item" href="#">Sobre Nós</a>
		</li>
		<li class="nav-item">
			<a class="nav-link m-2 menu-item" href="./site/login">Login</a>
			</li>
		</ul>
	</div>
	</div>
</nav>
</br>
<div id="carouselExampleIndicators" class="carousel slide align-center" data-bs-ride="true">
	<div class="carousel-indicators">
	<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
	<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
	<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
	</div>
	<div class="carousel-inner">
	<div class="carousel-item active">
		<div class="parent d-flex justify-content-center">
			<img src="/imgs/c1.jpg" class="d-block" alt="...">
		</div>
	</div>
	<div class="carousel-item">
		<div class="parent d-flex justify-content-center">
			<img src="/imgs/c2.jpg" class="d-block" alt="...">
		</div>
	</div>
	<div class="carousel-item">
		<div class="parent d-flex justify-content-center">
			<img src="/imgs/c3.jpg" class="d-block" alt="...">
		</div>
	</div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
	<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
	<span class="carousel-control-next-icon" aria-hidden="true"></span>
	<span class="visually-hidden">Next</span>
	</button>
</div>
<div class="row meet-us">
	</br></br>
	<div class="col-md-6 col-lg-3 col-sm-12 align-items-center"><img src="/imgs/poc1.png" class="rounded-circle profile" alt="...">
		</br></br><h2>Yasmim Ramos</h2></br></br>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et mi a arcu convallis pharetra. Sed sollicitudin elit vel ipsum accumsan tristique. Phasellus et pharetra ipsum. Aenean hendrerit, velit nec commodo lacinia, urna justo faucibus ex, ac condimentum ex urna at odio. Fusce vitae rutrum enim, at vulputate arcu. Donec finibus odio non dolor elementum, ac accumsan dui elementum. Fusce id urna a ante gravida iaculis at ut ante. Pellentesque fermentum vehicula ipsum a cursus. Nullam gravida non justo et fermentum.</p>
	</div>
	<div class="col-md-6 col-lg-3 col-sm-12 align-items-center"><img src="/imgs/poc2.png" class="rounded-circle profile" alt="...">
		</br></br><h2>Felipe Algumacoisa</h2></br></br>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et mi a arcu convallis pharetra. Sed sollicitudin elit vel ipsum accumsan tristique. Phasellus et pharetra ipsum. Aenean hendrerit, velit nec commodo lacinia, urna justo faucibus ex, ac condimentum ex urna at odio. Fusce vitae rutrum enim, at vulputate arcu. Donec finibus odio non dolor elementum, ac accumsan dui elementum. Fusce id urna a ante gravida iaculis at ut ante. Pellentesque fermentum vehicula ipsum a cursus. Nullam gravida non justo et fermentum.</p>
	</div>
	<div class="col-md-6 col-lg-3 col-sm-12 align-items-center"><img src="/imgs/poc3.png" class="rounded-circle profile" alt="...">
		</br></br><h2>Gay Desconhecida 1</h2></br></br>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et mi a arcu convallis pharetra. Sed sollicitudin elit vel ipsum accumsan tristique. Phasellus et pharetra ipsum. Aenean hendrerit, velit nec commodo lacinia, urna justo faucibus ex, ac condimentum ex urna at odio. Fusce vitae rutrum enim, at vulputate arcu. Donec finibus odio non dolor elementum, ac accumsan dui elementum. Fusce id urna a ante gravida iaculis at ut ante. Pellentesque fermentum vehicula ipsum a cursus. Nullam gravida non justo et fermentum.</p>
	</div>
	<div class="col-md-6 col-lg-3 col-sm-12 align-items-center"><img src="/imgs/poc4.png" class="rounded-circle profile" alt="...">
		</br></br><h2>Gay Desconhecida 2</h2></br></br>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et mi a arcu convallis pharetra. Sed sollicitudin elit vel ipsum accumsan tristique. Phasellus et pharetra ipsum. Aenean hendrerit, velit nec commodo lacinia, urna justo faucibus ex, ac condimentum ex urna at odio. Fusce vitae rutrum enim, at vulputate arcu. Donec finibus odio non dolor elementum, ac accumsan dui elementum. Fusce id urna a ante gravida iaculis at ut ante. Pellentesque fermentum vehicula ipsum a cursus. Nullam gravida non justo et fermentum.</p>
	</div>
	</br></br>
</div>
<%- include('footer'); %>