<%- include('header', {title: title}); %>
<nav class="navbar navbar-expand-lg navbar-bg">
	<div class="container-fluid">
	<a class="navbar-brand" href="#">Calorie Counter</a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse flex-grow-1 text-right" id="navbarSupportedContent">
		<ul class="navbar-nav ms-auto flex-nowrap">
		<li class="nav-item">
			<a class="nav-link m-2 menu-item" href="./site">Home</a>
		</li>
		<li class="nav-item">
			<a class="nav-link m-2 menu-item" href="#">Sobre Nós</a>
		</li>
		<li class="nav-item">
			<a class="nav-link m-2 menu-item active" aria-current="page" href="">Login</a>
			</li>
		</ul>
	</div>
	</div>
</nav>
</br>
<div class="row">
	<div class="offset-md-4 col-md-4 col-sm-12">
		<form action="/api/login" method="post">
			<div class="input-group mb-3">
				<span class="input-group-text" id="basic-addon1"><img src="/bootstrap-icons-1.9.0/mailbox.svg"></span>
				<input type="text" name="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
			</div>
			<div class="input-group mb-3">
				<span class="input-group-text" id="basic-addon1"><img src="/bootstrap-icons-1.9.0/pass.svg"></span>
				<input type="password" name="senha" class="form-control" placeholder="Senha" aria-label="password" aria-describedby="basic-addon1">
			</div>
			<div class="input-group align-items-center">
				<div class="row" style="padding: 8px;">
					<div class="col-sm-12"><p>Não tem cadastro? <a href="/site/registrar">Registre-se aqui!</a></p></div>
					<div class="col-sm-12 d-grid gap-2" style="float: right;"><button type="submit" class="btn btn-primary btn-lg" style="max-width: 100%;">Enviar</button></div>
				</div>
			</div>
		</form>
	</div>
</div>
<%- include('footer'); %>