<%- include('header', {title: title}); %>
<%- include('navbar', {login: "active"}); %>
</br>
<div class="row">
	<div class="offset-md-4 col-md-4 col-sm-12">
		<form action="/api/login" method="post">
			<div class="input-group mb-3">
				<span class="input-group-text" id="basic-addon1"><img src="/public/bootstrap-icons-1.9.0/mailbox.svg"></span>
				<input type="text" name="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
			</div>
			<div class="input-group mb-3">
				<span class="input-group-text" id="basic-addon1"><img src="/public/bootstrap-icons-1.9.0/pass.svg"></span>
				<input type="password" name="senha" class="form-control" placeholder="Senha" aria-label="password" aria-describedby="basic-addon1">
			</div>
			<div class="input-group align-items-center">
				<div class="row" style="padding: 8px;">
					<div class="col-sm-12"><p>Não tem cadastro? <a href="/site/registrar">Registre-se aqui!</a></p></div>
					<div class="col-sm-12 d-grid gap-2" style="float: right;"><button type="submit" class="btn btn-primary btn-lg" style="max-width: 100%;">Enviar</button></div>
				</div>
			</div>
		</form>
	</div>
</div>

<%- include('footer'); %>