<%- include('header', {title: title}); %>
<%- include('navbar'); %>
</br>


<form action="/api/registrar" method="post">
    <h2>Finalizar cadastro</h2>
    <input type="password" name="password" id="password" class="form-control" placeholder="Senha" aria-label="Senha" required>
    <input type="password" name="passwordConfirm" id="confirm_password" class="form-control" placeholder="Confirmar senha" aria-label="Confirmar senha" required>
    <input type="hidden" name="session" value="<%= session %>">
    <div class="d-grid gap-2"><button type="submit" class="btn btn-primary" id="btn" style="max-width: 100%;">Enviar</button></div>
</form>

<script src="/public/js/registro.js"></script>
<%- include('footer'); %>