<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<form>
  <label for="fname">Senha:</label><br>
  <input type="password" id="password" name="password"><br>
  <label for="lname">Last name:</label><br>
  <input type="password"><br><br>
  <input type="hidden" name="session" value="<%= session %>"><br><br>
  <input type="submit" value="Submit">
</form> 
</body>
</html> 