<%- include('header', {title: title}); %>
<%- include('navbar', {isOff: false}); %>

</br>
<center>
    <h1> Escolha seu Prêmio </h1>
</center>

<div class="offset-md-1 col-md-10 col-sm-12">
          <div class="input-group mb-3">
            <span class="input-group-text fs-5 fw-bold" id="basic-addon1">Pontos acumulados</span>
            <input type="number" name="pontos" class="form-control" placeholder="<%= pontos %>" aria-label="Pontos" aria-describedby="basic-addon1" disabled>
          </div>
        </div>
      </div>
    </div>
    </div> 
    <div class="offset-md-1 col-md-10 col-sm-12">
    <div class="card-group">
    <div class="card">
    <img src="/public/imgs/desconto.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">25% OFF</h5>
      <p class="card-text"> 25% de Desconto na com um nutricionista ou academia parceira</p>
    </div>
    <div class="card-footer">
      <div class="d-grid gap-2 col-6 mx-auto">
        <form action="/api/gastar" method="post">
          <% if(pontos >= 750) { %>
            <input type="hidden" name="amount" value="750">
            <button class="btn btn-primary" type="submit">750 pontos</button>
          <% } else { %>
            <button class="btn btn-primary" disabled>750 pontos</button>
          <% } %>
        </form>
      </div>
    </div>
    </div>

   <div class="card">
    <img src="/public/imgs/sonhoV2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Bombom Sonho de Valsa</h5>
      <p class="card-text"> Um bombom sonho de valsa</p>
    </div>
    <div class="card-footer">
      <div class="d-grid gap-2 col-6 mx-auto">
        <form action="/api/amor" method="post">
          <% if(pontos >= 100) { %>
            <input type="hidden" name="amount" value="100">
            <button class="btn btn-primary" type="submit">100 pontos</button>
          <% } else { %>
            <button class="btn btn-primary" disabled>100 pontos</button>
          <% } %>
        </form>
      </div>
    </div>
    </div>
    <div class="card">
    <img src="/public/imgs/acai5.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Açaí</h5>
      <p class="card-text">Vale um açaí de 400ml em uma loja parceira</p>
    </div>
    <div class="card-footer">
      <div class="d-grid gap-2 col-6 mx-auto">
        <form action="/api/usarpontos" method="post">
          <% if(pontos >= 500) { %>
            <input type="hidden" name="amount" value="500">
            <button class="btn btn-primary" type="submit">500 pontos</button>
          <% } else { %>
            <button class="btn btn-primary" name="amount" value="500" disabled>500 pontos</button>
          <% } %>
        </form>
      </div>
    </div>
  </div>
</div>

</div>





          

<%- include('footer'); %>